@charset "UTF-8";
/*  ---------------------------
*   COPYRIGHT
*   EDITED BY : raeka22
*	----------------------------
*/

/** ------------------------
    Titillium Font
    ------------------------ */
@font-face {
	font-family: 'LatoBold';
	src: url('fonts/LatoBold/LatoBold.eot');
    src: url('fonts/LatoBold/LatoBold.eot') format('embedded-opentype'),
         url('fonts/LatoBold/LatoBold.woff2') format('woff2'),
         url('fonts/LatoBold/LatoBold.woff') format('woff'),
         url('fonts/LatoBold/LatoBold.ttf') format('truetype'),
         url('fonts/LatoBold/LatoBold.svg#LatoBold') format('svg');
}

@font-face {
	font-family: 'LatoLight';
	src: url('fonts/LatoLight/LatoLight.eot');
    src: url('fonts/LatoLight/LatoLight.eot') format('embedded-opentype'),
         url('fonts/LatoLight/LatoLight.woff2') format('woff2'),
         url('fonts/LatoLight/LatoLight.woff') format('woff'),
         url('fonts/LatoLight/LatoLight.ttf') format('truetype'),
         url('fonts/LatoLight/LatoLight.svg#LatoLight') format('svg');
}

@font-face {
    font-family: 'LatoReguler';
    src: url('fonts/LatoReguler/LatoReguler.eot');
    src: url('fonts/LatoReguler/LatoReguler.eot') format('embedded-opentype'),
         url('fonts/LatoReguler/LatoReguler.woff2') format('woff2'),
         url('fonts/LatoReguler/LatoReguler.woff') format('woff'),
         url('fonts/LatoReguler/LatoReguler.ttf') format('truetype'),
         url('fonts/LatoReguler/LatoReguler.svg#LatoReguler') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LatoBoldItalic';
    src: url('fonts/LatoBoldItalic/LatoBoldItalic.eot');
    src: url('fonts/LatoBoldItalic/LatoBoldItalic.eot') format('embedded-opentype'),
         url('fonts/LatoBoldItalic/LatoBoldItalic.woff2') format('woff2'),
         url('fonts/LatoBoldItalic/LatoBoldItalic.woff') format('woff'),
         url('fonts/LatoBoldItalic/LatoBoldItalic.ttf') format('truetype'),
         url('fonts/LatoBoldItalic/LatoBoldItalic.svg#LatoBoldItalic') format('svg');
}
